<app-breadcrumb *ngIf="!searchMode" [title]="'Product'" [items]="['Apps', 'Ecommerce']" [active_item]="'Product'"></app-breadcrumb>
<app-breadcrumb *ngIf="searchMode" [title]="'Search'"></app-breadcrumb>

<!-- Container-fluid starts-->
<div class="container-fluid product-wrapper" [class.sidebaron]="openSidebar">
  <div class="product-grid">
    <div class="feature-products">
      <div *ngIf="!searchMode" class="row">
        <div class="col-md-6 products-total">
          <div class="square-product-setting d-inline-block" (click)="toggleListView(false)">
            <a class="icon-grid grid-layout-view" href="javascript:void(0);">
              <i data-feather="grid"></i>
            </a>
          </div>
          <div class="square-product-setting d-inline-block" (click)="toggleListView(true)">
            <a class="icon-grid m-0 list-layout-view" href="javascript:void(0);">
              <i data-feather="list"></i>
            </a>
          </div>
          <span class="d-none-productlist filter-toggle">
                Filters
              <span class="ml-2">
                <i class="toggle-data" data-feather="chevron-down"></i>
              </span>
          </span>
          <div class="grid-options d-inline-block">
            <ul>
              <li (click)="gridColumn(6)"><a class="product-2-layout-view" href="javascript:void(0);"><span class="line-grid line-grid-1 bg-primary"></span><span class="line-grid line-grid-2 bg-primary"></span></a></li>
              <li (click)="gridColumn(4)"><a class="product-3-layout-view" href="javascript:void(0);"><span class="line-grid line-grid-3 bg-primary"></span><span class="line-grid line-grid-4 bg-primary"></span><span class="line-grid line-grid-5 bg-primary"></span></a></li>
              <li (click)="gridColumn(3)"><a class="product-4-layout-view" href="javascript:void(0);"><span class="line-grid line-grid-6 bg-primary"></span><span class="line-grid line-grid-7 bg-primary"></span><span class="line-grid line-grid-8 bg-primary"></span><span class="line-grid line-grid-9 bg-primary"></span></a></li>
              <li (click)="gridColumn(2)"><a class="product-6-layout-view" href="javascript:void(0);"><span class="line-grid line-grid-10 bg-primary"></span><span class="line-grid line-grid-11 bg-primary"></span><span class="line-grid line-grid-12 bg-primary"></span><span class="line-grid line-grid-13 bg-primary"></span><span class="line-grid line-grid-14 bg-primary"></span><span class="line-grid line-grid-15 bg-primary"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <!-- <span class="f-w-600 m-r-5">Showing Products 1 - 24 Of 200 Results</span> -->
          <span class="f-w-600 m-r-5">
            <ngb-pagination
            [(page)]="thePageNumber"
            [pageSize]="thePageSize"
            [collectionSize]="theTotalElements"
            [maxSize] = "5"
            [boundaryLinks] = "true"
            (pageChange)="listProducts()">
            </ngb-pagination>
          </span>
          <!-- <span class="d-inline-block">Page Size </span>
          <select #myPageSize (change)="updatePageSize(myPageSize.value)">
            <option value="3">3</option>
            <option selected="true" value="6">6</option>
            <option value="12">12</option>
            <option value="24">24</option>
          </select> -->
          <!-- <div class="select2-drpdwn-product select-options d-inline-block">
            <select class="form-control btn-square" name="select">
              <option value="opt1">Featured</option>
              <option value="opt2">Lowest Prices</option>
              <option value="opt3">Highest Prices</option>
            </select>
          </div> -->
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-sm-3">
          <div class="product-sidebar">
            <div class="filter-section">
              <div class="card">
                <div class="card-header" (click)="sidebarToggle()">
                  <h6 class="mb-0 f-w-600">Filters<span class="pull-right"><i class="fa fa-chevron-down toggle-data"></i></span></h6>
                </div>
                <div class="left-filter">
                  <div class="card-body filter-cards-view animate-chk">
                    <div class="product-filter">
                      <h6 class="f-w-600">Category</h6>
                      <div class="checkbox-animated mt-0">
                        <label class="d-block" for="edo-ani5">
                          <input class="radio_animated" id="edo-ani5" type="radio" data-original-title="" title="">Man Shirt
                        </label>
                        <label class="d-block" for="edo-ani6">
                          <input class="radio_animated" id="edo-ani6" type="radio" data-original-title="" title="">Man Jeans
                        </label>
                        <label class="d-block" for="edo-ani7">
                          <input class="radio_animated" id="edo-ani7" type="radio" data-original-title="" title="">Woman Top
                        </label>
                        <label class="d-block" for="edo-ani8">
                          <input class="radio_animated" id="edo-ani8" type="radio" data-original-title="" title="">Woman Jeans
                        </label>
                        <label class="d-block" for="edo-ani9">
                          <input class="radio_animated" id="edo-ani9" type="radio" data-original-title="" title="">Man T-shirt
                        </label>
                      </div>
                    </div>
                    <div class="product-filter">
                      <h6 class="f-w-600">Brand</h6>
                      <div class="checkbox-animated mt-0">
                        <label class="d-block" for="chk-ani">
                          <input class="checkbox_animated" id="chk-ani" type="checkbox" data-original-title="" title=""> Levi's
                        </label>
                        <label class="d-block" for="chk-ani1">
                          <input class="checkbox_animated" id="chk-ani1" type="checkbox" data-original-title="" title="">Diesel
                        </label>
                        <label class="d-block" for="chk-ani2">
                          <input class="checkbox_animated" id="chk-ani2" type="checkbox" data-original-title="" title="">Lee
                        </label>
                        <label class="d-block" for="chk-ani3">
                          <input class="checkbox_animated" id="chk-ani3" type="checkbox" data-original-title="" title="">Hudson
                        </label>
                        <label class="d-block" for="chk-ani4">
                          <input class="checkbox_animated" id="chk-ani4" type="checkbox" data-original-title="" title="">Denizen
                        </label>
                        <label class="d-block" for="chk-ani5">
                          <input class="checkbox_animated" id="chk-ani5" type="checkbox" data-original-title="" title="">Spykar
                        </label>
                      </div>
                    </div>
                    <div class="product-filter slider-product">
                      <h6 class="f-w-600">Colors</h6>
                      <div class="color-selector">
                        <ul>
                          <li class="white"></li>
                          <li class="gray"></li>
                          <li class="black"></li>
                          <li class="orange"></li>
                          <li class="green"></li>
                          <li class="pink"></li>
                          <li class="yellow"></li>
                          <li class="blue"></li>
                          <li class="red"></li>
                        </ul>
                      </div>
                    </div>
                    <div class="product-filter text-center"><img class="img-fluid banner-product" src="assets/images/ecommerce/banner.jpg" alt="" data-original-title="" title=""></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-sm-12">
          <form>
            <div class="form-group m-0">
              <input class="form-control" type="search" placeholder="Search.." data-original-title="" title=""><i class="fa fa-search"></i>
            </div>
          </form>
        </div>
      </div> -->
    </div>
    <ngb-alert *ngIf="products.length<=0" [type]="'warning'" [dismissible]="false">
      No products found
    </ngb-alert>
    <div class="product-wrapper-grid" [class.list-view]="listView">
      <div class="row">
        <div *ngFor="let product of products"  [class]="'col-xl-'+col+' col-sm-'+col" [class.col-xl-12]="listView">
          <div class="card">
            <div  class="product-box">
              <div class="product-img">
                <a routerLink="/products/{{product.id}}">
                  <img class="img-fluid" src="{{product.imageUrl}}" alt="">
                </a>
                <div class="product-hover">
                  <ul>
                    <li>
                      <button (click)="addToCart(product)" class="btn" type="button"><i class="icon-shopping-cart"></i></button>
                    </li>
                    <!-- <li>
                      <button class="btn" type="button" (click)="QuickView.openModal()"><i class="icon-eye"></i></button>
                    </li> -->
                    <li>
                      <button class="btn" type="button" routerLink="/products/{{product.id}}"><i class="icon-eye"></i></button>
                    </li>
                    <!-- <li>
                      <button class="btn" type="button"><i class="icofont icofont-law-alt-2"></i></button>
                    </li> -->
                  </ul>
                </div>
              </div>
              <div class="product-details">
                <div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                <a routerLink="/products/{{product.id}}" style="color: rgba(49, 49, 49, 0.993);">
                  <h4>{{product.name}}</h4>
                </a>
                <!-- <p>{{product.description}}</p> -->
                <div class="product-price">{{product.unitPrice | currency: 'INR'}}
                  <del>{{product.unitPrice+130/product.unitPrice+55 | currency: 'INR'}} </del>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-quick-view #quickView></app-quick-view> -->
<!-- Container-fluid Ends-->
