<app-breadcrumb [title]="'Shopping Cart'" [items]="['Apps', 'Ecommerce']" [active_item]="'Cart'"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Cart</h5>
        </div>
        <div class="card-body">
          <ngb-alert *ngIf="cartItems.length <= 0" [type]="'light'" [dismissible]="false">
              No products found
          </ngb-alert>
          <button routerLink="/product" *ngIf="cartItems.length <= 0" class="btn btn-block btn-primary cart-btn-transform">Continue Shopping</button>

          <div *ngIf="cartItems.length > 0" class="row">
            <div class="order-history table-responsive wishlist">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Prdouct Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Remove</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cartItem of cartItems">
                    <td><img class="img-fluid img-40" src="{{cartItem.imageUrl}}" alt="{{cartItem.imageUrl}}"></td>
                    <td>
                      <div class="product-name"><a href="javascript:void(0);">{{cartItem.name}}</a></div>
                    </td>
                    <td>{{cartItem.unitPrice | currency: 'INR'}}</td>
                    <td>
                      <div class="qty-box">
                        <div class="input-group"><span class="input-group-prepend">
                          <button (click)="decrementQuantity(cartItem)" class="btn quantity-left-minus" type="button" data-type="minus"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg></button></span>
                          <input class="form-control input-number" type="text" name="quantity" value="{{cartItem.quantity}}" data-original-title="" title=""><span class="input-group-prepend">
                          <button (click)="incrementQuantity(cartItem)" class="btn quantity-right-plus" type="button" data-type="plus"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg></button></span>
                        </div>
                      </div>
                    </td>
                    <td>
                      <a (click)="remove(cartItem)" >
                        <i data-feather="x-circle"></i>
                      </a>
                    </td>
                    <td>{{cartItem.quantity*cartItem.unitPrice | currency: 'INR'}}</td>
                  </tr>
                  <tr>
                    <td colspan="4">
                      <div class="input-group">
                        <input class="form-control mr-2" type="text" placeholder="Enter coupon code"><a class="btn btn-primary" href="javascript:void(0);">Apply</a>
                      </div>
                    </td>
                    <td class="total-amount">
                      <h6 class="m-0 text-right"><span class="f-w-600">Total Price :</span></h6>
                    </td>
                    <td><span>{{totalPrice | currency: 'INR'}}  </span></td>
                  </tr>
                  <tr>
                    <td class="text-right" colspan="5"><a routerLink="/" class="btn btn-primary cart-btn-transform" href="javascript:void(0);">continue shopping</a></td>
                    <td *ngIf="totalPrice > 0"><a routerLink="/checkout" class="btn btn-success cart-btn-transform" href="">check out</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Container-fluid Ends-->
      </div>
    </div>
  </div>
</div>
