<div class="cart-box" (click)="toggleCart()">
  <app-feather-icons [icon]="'shopping-cart'"></app-feather-icons>
  <span class="badge badge-pill badge-primary">{{totalQuantity}}</span>
</div>
<ul class="cart-dropdown onhover-show-div" [class.active]="openCart">
  <li>
    <h6 class="mb-0 f-20">Shoping Cart</h6>
    <app-feather-icons [icon]="'shopping-cart'"></app-feather-icons>
  </li>

  <li *ngFor="let cartItem of cartItems.slice(0, 4)" class="mt-0">
    <div class="media">
      <img class="img-fluid rounded-circle mr-3 img-60" src="{{cartItem.imageUrl}}" alt="">
      <div class="media-body">
        <span>{{cartItem.name}}</span>
        <!-- <p>Yellow(#fcb102)</p> -->
        <div class="qty-box">
          <div class="input-group">
            <span class="input-group-prepend">
              <button (click)="decrementQuantity(cartItem)" class="btn quantity-left-minus" type="button" data-type="minus" data-field=""><i data-feather="minus"></i></button>
            </span>
            <input class="form-control input-number" type="text" name="quantity" value="{{cartItem.quantity}}">
            <span class="input-group-prepend">
              <button (click)="incrementQuantity(cartItem)" class="btn quantity-right-plus" type="button" data-type="plus" data-field=""><i data-feather="plus"></i></button>
            </span>
          </div>
        </div>
        <h6 class="text-right text-muted">Sub Total: {{cartItem.quantity*cartItem.unitPrice | currency: 'INR'}}</h6>
      </div>
      <div class="close-circle">
        <a (click)="remove(cartItem)">
          <app-feather-icons [icon]="'x'"></app-feather-icons>
        </a>
      </div>
    </div>
  </li>

  <li *ngIf="cartItems.length <=0">
    <h6 class="mb-0 f-20">Your cart is empty</h6>
  </li>

  <li>
    <div class="total">
      <h6 class="mb-2 mt-0 text-muted">Order Total : <span class="f-right f-20">{{totalPrice | currency: 'INR'}}</span></h6>
    </div>
  </li>
  <li *ngIf="cartItems.length > 0">
    <a routerLink="/cart" class="btn btn-block btn-primary view-cart">
      Go to Cart
    </a>
    <a routerLink="/checkout" *ngIf="totalPrice > 0" class="btn btn-block btn-success view-cart">Checkout</a>
  </li>

</ul>
