<div class="wrapper" style="margin-top: 75px;">
        <main style="margin-top: 200px;">
            <div id="shopify-section-product-template" class="shopify-section">
                <div class="single-product-area mt-80 mb-80">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="product-details-large" id="ProductPhoto">
                                    <img src="{{product.imageUrl}}">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="single-product-content">
                                        <div class="product-details">
                                            <h1 class="single-product-name">{{product.name}}</h1>
                                            <div class="product-sku">SKU: <span class="variant-sku">{{product.sku}}</span></div>
                                            <div class="single-product-price">
                                                <div class="product-discount"><span  class="price" id="ProductPrice"><span class=money>{{product.unitPrice | currency: 'INR'}}</span></span></div>
                                            </div>
                                            <div class="product-info">{{product.description}}</div>

                                            <div class="single-product-action">
                                                <div class="product-add-to-cart">
                                                  <div class="add">
                                                    <button (click)="addToCart(product)" class="add-to-cart">
                                                        <i class="ion-bag"></i>
                                                        <span class="list-cart-title cart-title">Add to cart</span>
                                                    </button>
                                                  </div>
                                                </div>
                                                <div class="secure-payment" style="margin-top: 70px;"><img src="../../../assets/images/logo/guaranteed_safe_checkout.png" height="50%"></div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
