<app-breadcrumb [title]="'Sample Shop Page'" [items]="['other']" [active_item]="'Sample Shop'"></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Shop Page</h5><span>Welcome to Shopify</span>
        </div>
        <div class="card-body">
          <p>Lorem ipsum dolor sit amet, consectetur velit? Facere expedita eum ipsum! Delectus quod fuga quo eos.</p>
        </div>
      </div>
    </div>
  </div>
</div>
