.security-btn {
  position:relative;
  right:0;
  min-width:95px;
  color:#fff;
  border:10px solid #a3ca63;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:43px;
  background:#a3ca63
}

.login-status-header {
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex
}

.login-status-user-info {
  line-height:43px;
  border:1px;
  font-size:14px;
  color:rgb(241, 241, 241);
  padding:0 17px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  -webkit-transition:all .5s ease;
  -o-transition:all .5s ease;
  -moz-transition:all .5s ease;
  transition:all .5s ease
}
