<div class="main-content">
  <div class="section-content section-content-p30">
    <h4>{{currentCategoryName}}</h4>
    <hr>
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let product of products" class="col-md-3">
          <div class="product-box">
            <a routerLink="/products/{{product.id}}">
              <img src="{{product.imageUrl}}" height="120" width="120"/>
            </a>
            <a routerLink="/products/{{product.id}}">
              <h2>{{product.name}}</h2>
            </a>
            <div class="price">{{product.unitPrice}}</div>
            <a href="#" class="primary-btn">Add to Cart</a>
          </div>
        </div>
        <!-- if no products found display a message -->
        <div *ngIf="products==null || products==undefined || products.length==0" class="alert alert-warning col-md-12" role="alert">
          <!-- or use safe navigation operator -->
          <p style="text-align: center"><br>No Product Found</p>
        </div>
      </div>
      <!-- Begin footer -->
      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-6"></div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9" style="padding-left: 30%;">

                <ngb-pagination [(page)]="thePageNumber"
                                [pageSize]="thePageSize"
                                [collectionSize]="theTotalElements"
                                (pageChange)="listProducts()">

                </ngb-pagination>

              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- End Footer -->
    </div>
  </div>
</div>

