<table class="table">
  <thead class="thead-light">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Price</th>
      <th>Units in Stock</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td class="align-middle">
        <img src="{{product.imageUrl}}" height="120" width="120"/>
      </td>
      <td class="align-middle">{{product.name}}</td>
      <td class="align-middle">{{product.unitPrice | currency: 'INR'}}</td>
      <td class="align-middle">{{product.unitsInStock}}</td>
    </tr>
  </tbody>
</table>


