<div class="main-content">
  <div class="section-content section-content-p30">
    <h4>{{currentCategoryName}}</h4>
    <hr>
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let product of products" class="col-md-3">
          <div class="product-box">
            <img src="{{product.imageUrl}}" height="120" width="120"/>
            <h2>{{product.name}}</h2>
            <div class="price">{{product.unitPrice}}</div>
            <div class="btn btn-dark">Add to Cart</div>
          </div>
        </div>
        <!-- if no products found display a message -->
        <div *ngIf="products==null || products==undefined || products.length==0" class="alert alert-warning col-md-12" role="alert">
          <!-- or use safe navigation operator -->
          <p style="text-align: center"><br>No Product Found</p>
        </div>
      </div>
    </div>
  </div>
</div>

